/.Rhistory
/aclocal.m4
/autom4te.cache/output.0
/autom4te.cache/output.1
/autom4te.cache/output.2
/autom4te.cache/requests
/autom4te.cache/traces.0
/autom4te.cache/traces.1
/autom4te.cache/traces.2
/config.log
/config.status
/configure
/src/Makevars
/src/RSEval.o
/src/brush.o
/src/colorSchemes.o
/src/conversion.o
/src/data.o
/src/dataset.o
/src/display.o
/src/displays.o
/src/edges.o
/src/ggobi.o
/src/identify.o
/src/init.o
/src/io.o
/src/keyHandlers.o
/src/longitudinal.o
/src/modes.o
/src/plot.o
/src/plots.o
/src/plugins.o
/src/print.o
/src/rggobi.so
/src/session.o
/src/smooth.o
/src/symbols.rds
/src/ui.o
/src/utils.o
