exportPattern("^[^\\.]")
import(utils)

S3method(print, GGobiData)
S3method(dim, GGobiData)
S3method(nrow, GGobiData)
S3method(ncol, GGobiData)
S3method(names, GGobiData)
S3method("names<-", GGobiData)
S3method(rownames, GGobiData)
S3method("rownames<-", GGobiData)
S3method(dimnames, GGobiData)
S3method("dimnames<-", GGobiData)
S3method(summary, GGobiData)
S3method("[", GGobiData)
S3method("$", GGobiData)
S3method(as.data.frame, GGobiData)
S3method("[<-", GGobiData)
S3method("$<-", GGobiData)

S3method("[", GGobi)
S3method("[[", GGobi)
S3method("$", GGobi)
S3method(print, GGobi)
S3method(names, GGobi)
S3method(summary, GGobi)
S3method(close, GGobi)

S3method(print, GGobiDisplay)
S3method(close, GGobiDisplay)
S3method(length, GGobiDisplay)
